<template>
  <v-ons-page>
    <notification :lastMessage="lastMessage" :lastTx="lastTx" />
    <p style="display: none">{{ isUIReady }}</p>
    <div class="home-tab-container" v-if="isUIReady">
      <div class="total-balance">
        <h1 v-if="getAppState && getAppState.data.balance">
          {{ getAppState.data.balance.toFixed(3) }}
          <span class="total-unit">LBD</span>
        </h1>
        <h1 v-else>
          <v-ons-progress-circular indeterminate></v-ons-progress-circular>
        </h1>
      </div>
      <div>
        <h4 v-if="getAppState" class="user-alias">@{{ getWallet.handle }}</h4>
      </div>
      <div class="wallet-action-container">
        <div class="wallet-action">
          <button class="white-button" @click="$router.push('/wallet/send')">
            <v-ons-icon icon="ion-ios-send" size="lg"></v-ons-icon>Send
          </button>
        </div>
        <div class="wallet-action">
          <button class="white-button" @click="$router.push('/wallet/receive')">
            <v-ons-icon icon="ion-ios-download" size="lg"></v-ons-icon>Receive
          </button>
        </div>
      </div>
      <v-ons-list id="transaction-list">
        <v-ons-list-item
          v-for="transaction in transactions"
          :key="transaction.type + transaction.amount + transaction.timestamp"
        >
          <transaction-list-item :transaction="transaction" />
        </v-ons-list-item>
      </v-ons-list>
    </div>
  </v-ons-page>
</template>

<script>
import TransactionListItem from "~/components/TransactionListItem";
import { mapGetters, mapActions } from "vuex";
import { map, filter, concat, flow, chain } from "lodash";
import * as _ from "lodash";
import utils from "../assets/utils";
import ToolBar from "~/components/ToolBar";
import Title from "~/components/baisc/Title";
import Button from "~/components/baisc/Button";
import Notification from "~/components/Notification";
export default {
  components: {
    TransactionListItem,
    ToolBar,
    Title,
    Button,
    Notification
  },
  data: function() {
    return {
      lastMessage: null,
      lastTx: null
    };
  },
  computed: {
    ...mapGetters({
      getWallet: "wallet/getWallet",
      getAppState: "chat/getAppState",
      getNetwork: "chat/getNetwork",
      getTimers: "chat/getTimers",
      getLastMessage: "chat/getLastMessage",
      isUIReady: "chat/isUIReady",
      getActiveProposals: "proposal/getActiveProposals",
      getCompletedProposals: "proposal/getCompletedProposals",
      getActiveDevProposals: "proposal/getActiveDevProposals",
      getCompletedDevProposals: "proposal/getCompletedDevProposals"
    }),
    transactions() {
      if (!this.getWallet || !this.getAppState) return [];
      let myAddress = this.getWallet.entry.address;
      let txs = this.getAppState.data.transactions;
      const RawTransferTxs = utils.filterByTxType(txs, "transfer");
      const RawMessageTxs = utils.filterByTxType(txs, "message");
      const RawRegisterTxs = utils.filterByTxType(txs, "register");
      const processRawTransferTxs = txList =>
        map(txList, tx => {
          return {
            type: utils.getTransferType(tx, myAddress),
            otherPersonAddress:
              tx.from.toLowerCase() === myAddress.toLowerCase()
                ? tx.to
                : tx.from,
            timestamp: tx.timestamp,
            amount: tx.amount,
            fee: tx.fee
          };
        });
      const processRawMessageTxs = txList =>
        map(txList, tx => {
          return {
            type: utils.getMessageType(tx, myAddress),
            otherPersonAddress: tx.to,
            timestamp: tx.timestamp,
            amount: tx.amount
          };
        });
      const processRegisterTxs = txList =>
        map(txList, tx => {
          return {
            type: "register",
            alias: tx.alias,
            timestamp: tx.timestamp,
            // TODO:
            amount: 0.001
          };
        });
      const transferTxs = processRawTransferTxs(RawTransferTxs);
      const messageeTxs = processRawMessageTxs(RawMessageTxs);
      const registerTx = processRegisterTxs(RawRegisterTxs);
      const allProcessedTxs = concat(transferTxs, messageeTxs, registerTx);
      return utils.sortByTimestamp(allProcessedTxs, "desc");
    }
  },
  mounted: function() {
    this.refreshAppState();
  },
  methods: {
    ...mapActions({
      updateAppState: "chat/updateAppState",
      updateLastMessage: "chat/updateLastMessage",
      updateLastTx: "chat/updateLastTx",
      setUIReady: "chat/setUIReady",
      updateActiveProposals: "proposal/updateActiveProposals",
      updateCompletedProposals: "proposal/updateCompletedProposals",
      updateActiveDevProposals: "proposal/updateActiveDevProposals",
      updateCompletedDevProposals: "proposal/updateCompletedDevProposals"
    }),
    getLastTxFromAPI() {
      if (!this.getAppState) return;
      let txs = this.getAppState.data.transactions;
      return txs[txs.length - 1];
    },
    getLatestMessageFromServer(processedState) {
      let chats = processedState.data.chats;
      let messageList = [];
      for (let handle in chats) {
        chats[handle].messages.forEach(m => messageList.push(m));
      }
      if (messageList.length > 0) {
        let sortedMessageList = messageList.sort(
          (a, b) => b.timestamp - a.timestamp
        );
        return {
          body: sortedMessageList[0].body,
          timestamp: sortedMessageList[0].timestamp,
          handle: sortedMessageList[0].handle
        };
      } else
        return {
          body: null,
          timestamp: null,
          handle: null
        };
    },
    async processData(myAccountData) {
      let self = this;
      try {
        let { account } = myAccountData;
        let processed = { ...account };

        for (let otherPersonPk in processed.data.chats) {
          const chatId = processed.data.chats[otherPersonPk];
          const encryptedChatList = await utils.queryEncryptedChats(chatId);
          const decryptedChatList = encryptedChatList.map(data => {
            return utils.decryptMessage(
              data,
              otherPersonPk,
              self.getWallet.entry.keys.secretKey
            );
          });
          processed.data.chats[otherPersonPk] = {
            messages: decryptedChatList
          };
        }

        let keys = Object.keys(account.data.chats);
        let modifiedChats = {};
        for (let i = 0; i < keys.length; i++) {
          let handle = await utils.getHandle(keys[i]);
          modifiedChats[handle] = account.data.chats[keys[i]];
        }

        processed.data.chats = modifiedChats;
        let friendList = Object.values(processed.data.friends);
        friendList = friendList.filter(f => f !== null);
        processed.data.friends = friendList;
        return processed;
      } catch (e) {
        console.warn(`Unable to process account state data...`);
        console.warn(e);
      }
    },
    getActiveWindow(window, proposalType) {
      if (!window || !proposalType) return;
      const now = Date.now();
      if (proposalType === "economy") {
        if (now >= window.proposalWindow[0] && now < window.proposalWindow[1]) {
          return "PROPOSAL";
        } else if (
          now >= window.votingWindow[0] &&
          now < window.votingWindow[1]
        ) {
          return "VOTING";
        } else if (
          now >= window.graceWindow[0] &&
          now < window.graceWindow[1]
        ) {
          return "GRACE";
        } else if (
          now >= window.applyWindow[0] &&
          now < window.applyWindow[1]
        ) {
          return "APPLY";
        }
      } else if (proposalType === "funding") {
        if (
          now >= window.devProposalWindow[0] &&
          now < window.devProposalWindow[1]
        ) {
          return "PROPOSAL";
        } else if (
          now >= window.devVotingWindow[0] &&
          now < window.devVotingWindow[1]
        ) {
          return "VOTING";
        } else if (
          now >= window.devGraceWindow[0] &&
          now < window.devGraceWindow[1]
        ) {
          return "GRACE";
        } else if (
          now >= window.devApplyWindow[0] &&
          now < window.devApplyWindow[1]
        ) {
          return "APPLY";
        }
      }
      return "IDLE";
    },
    async getWindowObj(proposalType) {
      try {
        let newNetworkParameters = await utils.queryParameters();
        if (!this.networkParameters) {
          this.networkParameters = newNetworkParameters;
        }
        const WINDOW_TYPE =
          proposalType === "economy" ? "WINDOWS" : "DEV_WINDOWS";
        let window = newNetworkParameters[WINDOW_TYPE];
        return window;
      } catch (e) {
        console.warn(e);
        return null;
      }
    },
    async refreshAppState() {
      let self = this;
      if (self.getWallet && self.isUIReady) {
        let myHandle = this.getWallet.handle;
        let myAccountData = await utils.queryAccount(myHandle);
        let processedState = await this.processData(myAccountData);
        self.updateAppState(processedState);
        let lastMessageFromServer = this.getLatestMessageFromServer(
          processedState
        );
        if (lastMessageFromServer.body)
          this.lastMessage = lastMessageFromServer;
        let lastTxFromAPI = this.getLastTxFromAPI();
        if (lastTxFromAPI) {
          this.lastTx = { ...lastTxFromAPI };
          this.lastTx.walletUsername = myHandle;
          this.lastTx.timestamp = Date.now();
        }
        this.refreshProposalList();
        setTimeout(this.refreshAppState, 10000);
      } else {
        setTimeout(this.refreshAppState, 5000);
      }
    },
    async refreshProposalList() {
      let allProposals = await utils.queryProposals();
      let networkParameters = await utils.queryParameters();
      this.networkParameters = networkParameters;
      allProposals = allProposals.map(proposal => {
        let proposedParameters = utils.getDifferentParameter(
          proposal.parameters,
          networkParameters["CURRENT"]
        );
        let obj = { ...proposal };
        obj.proposedParameters = proposedParameters;
        obj.type = "proposal";
        return obj;
      });
      let activeProposalList = allProposals.filter(proposal => {
        return !proposal.hasOwnProperty("winner");
      });
      let completedProposalList = allProposals.filter(
        proposal => proposal.winner === true || proposal.winner === false
      );
      let window = await this.getWindowObj("economy");
      let activeEconomyWindow = this.getActiveWindow(window, "economy");

      if (activeEconomyWindow === "VOTING") {
        const count = activeProposalList.length;
        let economyProposalCount =
          JSON.parse(localStorage.getItem("economy_proposal_count")) || 0;
        if (count > economyProposalCount) {
          let diff = count - economyProposalCount;
          for (let i = 0; i < diff; i++) {
            utils.updateBadge("economy", "increase");
            localStorage.setItem("economy_proposal_count", count);
          }
        }
      } else {
        try {
          utils.updateBadge("economy", "reset");
          localStorage.setItem("economy_proposal_count", 0);
        } catch (e) {
          // console.warn(e);
        }
      }

      // Funding proposals start here
      let allDevProposals = await utils.queryDevProposals();
      if (!allDevProposals || allDevProposals.length === 0) return;
      allDevProposals = allDevProposals.map(proposal => {
        let obj = { ...proposal };
        obj.type = "dev_proposal";
        return obj;
      });

      let activeDevProposalList = allDevProposals.filter(
        proposal => proposal.approved !== true && proposal.approved !== false
      );

      let devWindow = await this.getWindowObj("funding");
      let activeFundingWindow = this.getActiveWindow(devWindow, "funding");

      if (activeFundingWindow === "VOTING") {
        const count = activeDevProposalList.length;
        let fundingProposalCount =
          JSON.parse(localStorage.getItem("funding_proposal_count")) || 0;
        if (count > fundingProposalCount) {
          let diff = count - fundingProposalCount;
          for (let i = 0; i < diff; i++) {
            utils.updateBadge("funding", "increase");
            localStorage.setItem("funding_proposal_count", count);
          }
        }
      } else {
        try {
          utils.updateBadge("funding", "reset");
          localStorage.setItem("funding_proposal_count", 0);
        } catch (e) {
          // console.warn(e)
        }
      }
    }
  }
};
</script>

<style>
.home-tab-container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}
.nuxt-link {
  width: 100%;
}
.total-balance h1 {
  font-family: Inconsolata;
  font-size: 42px;
  color: #2648d8;
  letter-spacing: 0;
  text-align: center;
  line-height: 42px;
  width: 300px;
  margin: 30px auto;
}
.total-balance h1 .total-unit {
  font-family: Poppins;
  font-size: 14px;
  color: #2648d8;
  letter-spacing: -0.16px;
  text-align: left;
  position: relative;
  top: -15px;
  left: -10px;
}
.new-message-btn {
  margin: 20px auto;
  width: 100%;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
}
.wallet-action-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  max-width: 600px;
  margin: 50px auto;
}
.wallet-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #0076ff;
}
#transaction-list {
  margin-bottom: 20px;
}
.wallet-action ons-icon {
  text-align: center;
}
.list {
  max-width: 600px;
  margin: 0 auto;
}
.white-button {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(206, 206, 206, 0.5);
  border-radius: 27.5px;
  font-family: Poppins;
  font-size: 16px;
  color: #0a2463;
  letter-spacing: 0;
  line-height: 20px;
  width: 145px;
  height: 55px;
  border: none;
  outline: none;
  cursor: pointer;
}

.white-button .ons-icon {
  margin-right: 10px;
}
.home-tab-container .user-alias {
  text-align: center;
  color: #092363;
  font-family: Poppins !important;
  font-size: 20px;
}
</style>
